$brownish: #CD853F;
$opaque-brown: rgba(205, 133, 63, 0.4);
$shadow: rgba(0,0,0,.5);
$light-blue: rgba(30,144,255,.5);


@mixin flexParent() {
  display: flex;
  flex-flow: row wrap;
}

@mixin curvedEdges() {
  border-radius: 3px;
}


body {
  background: url("../photos/sandybeach.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  text-shadow: 1px 1px 3px $shadow;
  font-size: 20px;
}

#header {
  @include flexParent();
  justify-content:space-around;
  flex: 0 0 100%;
  margin-left: 250px;
  justify-content: space-around;
  margin-bottom: 50px;
  h1 {
    margin-left: -200px;
    flex: 0 0 200px;
    font-family: 'Work Sans';
    font-size: 50px;
  }
  p {
    padding-top: 30px;
    flex: 0 0 400px;
    font-size: 15px;
  }
}

#container {
  @include flexParent();
  justify-content: center;
  width: 960px;
  margin: 0 auto;

  #picture {
    flex: 0 0 40%;
    margin-top: 23px;
    margin-right: 20px;
    #pic {
      @include curvedEdges();
      padding: 20px;
      background: $opaque-brown;
      img{
        max-width: 700px;
        @include curvedEdges();
      }
    }
  }
  #sideBar {
    margin-top: 25px;
    flex: 0 0 20%;
    max-height: 600px;
    background: $opaque-brown;
    @include curvedEdges();
      ul {
      margin-left: -40px;
      @include flexParent();
      justify-content: center;
      li {
        flex: 0 0 80%;
        list-style: none;
        margin-top: 30px;
        img {
          @include curvedEdges();
          max-width: 100%;
        }
      }
    }
  }
}


#picturesContainer {
  text-align: center;
  background-color: $opaque-brown;
  margin-top: 20px;
  width: 870px;
  padding: 10px;
  @include curvedEdges();
  ul{
    @include flexParent();
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    list-style: none;
    li{
      flex: 0 0 220px;
      img{
        @include curvedEdges();
        max-width: 200px;
      }
    }
  }
}

#featuredPicture {
  flex: 0 0 850px;
  text-align: center;
  background-color: $opaque-brown;
  padding: 20px;
  @include curvedEdges();
  img{
    @include curvedEdges();
    max-width: 800px;
  }
}


#form {
  justify-content: center;
  background-color: $opaque-brown;
  flex: 0 0 250px;
  #newPhoto {
    text-align: center;
  }
  #formSection {
    text-align: center;
  }
}

#editPhotoContainer {
  flex: 0 0 50%;
  text-align: center;
  margin-right: 20px;
  #editBackground {
    background-color: $opaque-brown;
    padding: 20px;
    img {
      max-width: 500px;
    }
  }
}

#editTitle {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  flex: 0 0 100%;
  @include flexParent();
  justify-content: flex-start;
  margin-left: 200px;
  margin-bottom: 20px;
  #home {
    flex: 0 0 50px;
    background: $opaque-brown;
    padding: 10px 20px;
    margin-right: 20px;
    text-align: center;
    @include curvedEdges();
  }
  #new {
    flex: 0 0 50px;
    background: $opaque-brown;
    padding: 10px 20px;
    text-align: center;
    @include curvedEdges();
  }
}

.details#description {
  font-size: 16px;
}

textarea {
  border-style: none;
  resize: none;
}

button#send {
  display: block;
  margin: 10px auto;
  border-style: none;
  background-color: white;
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: $light-blue;
  color: white;
  &:hover {
    box-shadow: 2px 2px 2px black;
    transition: 0.3s;
  }
}

input {
  border-style: none;
}

#editButton {
  margin-top: 20px;
  margin-right: 20px;
  background-color: $light-blue;
  width: 60px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  @include curvedEdges();
  &:hover {
    box-shadow: 2px 2px 2px black;
  }
  #editLink {
    font-size: 30px;
  }
}

#deleteButton {
  margin-top: 20px;
  background-color: $light-blue;
  width: 85px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  @include curvedEdges();
  &:hover {
    box-shadow: 2px 2px 2px black;
  }
  a {
    font-size: 30px;
  }
}

#logout {
  border-style: none;
  background-color: white;
  font-size: 25px;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: $opaque-brown;
  color: white;
  &:hover {
    box-shadow: 2px 2px 2px black;
  }
}

.sidenav a {
  display: none;
}

#menu {
  display: none;
}

@media screen and (max-width: 480px) {

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  #menu {
    flex: 0 0 100%;
    @include flexParent();
    justify-content: flex-end;
    margin-right: 60px;
    margin-top: -10px;
    margin-bottom: 20px;
    #menuBox {
      flex: 0 0 50px;
      height: 45px;
      @include flexParent();
      margin: 0;
      border-radius: 5px;
      border: solid 2px white;
      text-align: center;
      &:hover {
        background-color: $light-blue;
        transition: 0.3s;
      }
      span {
        flex: 0 0 40px;
        margin: auto;
        height: 6px;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        &:nth-child(2) {
          top: 14px;
        }
        &:nth-child(3) {
          top: 28px;
        }
      }
    }
  }

  .sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #container {
    @include flexParent();
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    #picture {
      max-width: 340px;
      margin: 2px auto;
      text-align: center;
      #pic {
        text-align: left;
        img {
          max-width: 300px;
        }
      }
    }
    #sideBar {
      display: none;
    }

  }
  #header {
    text-align: center;
    flex: 0 0 400px;
    margin-bottom: 0;
    h1 {
      margin-right: 40px;
      font-family: 'Work Sans';
      font-size: 50px;
    }
    p {
      display: none;
    }
    #logout {
      margin-right: 250px;
    }
    a {
      display: none;
    }

  }
  nav {
    display: none;
  }

  #featuredPicture {
    max-width: 340px;
    img {
      max-width: 300px;
    }
  }
  #editPhotoContainer {
    margin: 5px auto;
    #editBackground {
      margin: 3px auto;
      img {
        max-width: 200px;
      }
    }
  }

  #editButton {
    display: none;
  }
  #deleteButton {
    display: none;
  }
}