$opaque-brown: rgba(205, 133, 63, 0.4);
$shadow: rgba(0,0,0,.5);
$light-blue: rgba(30,144,255,.5);
$background-picture: "../photos/sandybeach.jpg";
$text-color: white;
$strawberry: #BE2625;


@mixin flexParent() {
  display: flex;
  flex-flow: row wrap;
}

@mixin curvedEdges() {
  border-radius: 3px;
}


body {
  background: url($background-picture);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $text-color;
  font-family: 'Quattrocento Sans', sans-serif;
  text-shadow: 1px 1px 3px $shadow;
  font-size: 20px;
}

#header {
  @include flexParent();
  justify-content:flex-start;
  flex: 0 0 100%;
  margin-bottom: 50px;
  padding-top: 20px;
  h1 {
    flex: 0 0 200px;
    font-family: 'Work Sans';
    font-size: 50px;
    margin: 0 auto;
  }
  p {
    flex: 0 0 400px;
    font-size: 15px;
    margin: 0 auto;
  }
}

#container {
  @include flexParent();
  justify-content: center;
  width: 960px;
  overflow: hidden;
  margin: 0 auto;
}

// one pug page
#picture {
  flex: 0 0 40%;
  margin-top: 23px;
  margin-right: 20px;
  #pic {
    @include curvedEdges();
    padding: 20px;
    background: $opaque-brown;
    img{
      width: 640px;
      @include curvedEdges();
    }
  }
}
#sideBar {
  margin-top: 25px;
  flex: 0 0 20%;
  display: table;
  @include curvedEdges();
  ul {
    background: $opaque-brown;
    margin: 0;
    padding: 30px;
    li {
      display: inline;
      list-style: none;
      img {
        @include curvedEdges();
        width: 150px;
      }
    }
  }
}

#picturesContainer {
  text-align: center;
  background-color: $opaque-brown;
  margin-top: 20px;
  width: 870px;
  padding: 10px;
  @include curvedEdges();
  ul{
    @include flexParent();
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    list-style: none;
    li{
      flex: 0 0 220px;
      margin: 3px auto;
      img{
        @include curvedEdges();
        width: 280px;
        height: 200px;
      }
    }
  }
}

#featuredPicture {
  flex: 0 0 850px;
  text-align: center;
  background-color: $opaque-brown;
  padding: 15px;
  @include curvedEdges();
  img{
    @include curvedEdges();
    width: 860px;
  }
}


#form {
  justify-content: center;
  background-color: $opaque-brown;
  @include curvedEdges();
  flex: 0 0 250px;
  #newPhoto {
    text-align: center;
  }
  #formSection {
    text-align: center;
  }
}

#editPhotoContainer {
  flex: 0 0 50%;
  margin-right: 20px;
  #editBackground {
    background-color: $opaque-brown;
    @include curvedEdges();
    padding: 20px;
    img {
      width: 580px;
    }
  }
}

#editTitle {
  text-align: center;
}

a {
  text-decoration: none;
  color: $text-color;
}

nav {
  flex: 0 0 100%;
  @include flexParent();
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-left: 70px;
  .navButton {
    flex: 0 0 50px;
    background: $opaque-brown;
    padding: 10px 20px;
    margin-right: 20px;
    text-align: center;
    @include curvedEdges();
  }
}

.details#description {
  font-size: 16px;
}

textarea {
  border-style: none;
  resize: none;
}

button#send {
  display: block;
  margin: 10px auto;
  border-style: none;
  background-color: $text-color;
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: $light-blue;
  color: $text-color;
  &:hover {
    box-shadow: 2px 2px 2px black;
    transition: 0.3s;
  }
}

input {
  border-style: none;
}

#editButton {
  margin-top: 20px;
  margin-right: 20px;
  background-color: $light-blue;
  width: 60px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  @include curvedEdges();
  &:hover {
    box-shadow: 2px 2px 2px black;
  }
  #editLink {
    font-size: 30px;
  }
}

#deleteButton {
  margin-top: 20px;
  background-color: $light-blue;
  width: 85px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  @include curvedEdges();
  &:hover {
    box-shadow: 2px 2px 2px black;
  }
  a {
    font-size: 30px;
  }
}


.sidenav a {
  display: none;
}

#menu {
  display: none;
}

.error {
  color: $strawberry;
  padding: 3px;
}

@media screen and (max-width: 968px) {
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  #menu {
    flex: 0 0 100%;
    @include flexParent();
    justify-content: center;
    margin-right:0px;
    margin-top: -10px;
    margin-bottom: 20px;
    #menuBox {
      flex: 0 0 50px;
      height: 45px;
      @include flexParent();
      margin: 0;
      border-radius: 5px;
      border: solid 2px $text-color;
      text-align: center;
      &:hover {
        background-color: $light-blue;
        transition: 0.3s;
      }
      span {
        flex: 0 0 40px;
        margin: auto;
        height: 6px;
        background: $text-color;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        &:nth-child(2) {
          top: 14px;
        }
        &:nth-child(3) {
          top: 28px;
        }
      }
    }
  }

  .sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #container {
    @include flexParent();
    justify-content: center;
    width: 100%;

    #picture {
      flex: 0 0 90%;
      text-align: center;
      #pic {
        width: 100%;
        text-align: left;
        img {
          width: 100%;
        }
      }
    }
  }

  nav {
    display: none;
  }
  #sideBar {
    display: none;
  }
  #header {
    text-align: center;
    flex: 0 0 100%;
    margin-bottom: 20px;
    h1 {
      font-family: 'Work Sans';
      font-size: 50px;
    }
    p {
      display: none;
    }
    #logout {
      margin-right: 250px;
    }
    a {
      display: none;
    }

  }

  #featuredPicture {
    flex: 0 0 90%;
    img {
      width: 100%;
    }
  }
  #editPhotoContainer {
    margin: 5px auto;
    #editBackground {
      margin: 3px auto;
      img {
        width: 600px;
      }
    }
  }

  #editButton {
    display: none;
  }
  #deleteButton {
    display: none;
  }
  #picturesContainer{
    flex: 0 0 90%;
    ul{
      li{
        flex: 0 0 45%;
        padding: 5px;
        a{
          img{
            width:100%;
          }
        }
      }
    }
  }
  form{
    width:320px;
    textarea{
      font-size:20px;
      width:200px;
    }
  }
}


@media screen and (max-width: 480px) {

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  #menu {
    flex: 0 0 100%;
    @include flexParent();
    justify-content: flex-end;
    margin-right:0px;
    margin-top: -10px;
    margin-bottom: 20px;
    #menuBox {
      flex: 0 0 50px;
      height: 45px;
      @include flexParent();
      margin: 0;
      border-radius: 5px;
      border: solid 2px $text-color;
      text-align: center;
      &:hover {
        background-color: $light-blue;
        transition: 0.3s;
      }
      span {
        flex: 0 0 40px;
        margin: auto;
        height: 6px;
        background: $text-color;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        &:nth-child(2) {
          top: 14px;
        }
        &:nth-child(3) {
          top: 28px;
        }
      }
    }
  }

  .sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #container {
    @include flexParent();
    justify-content: center;
    width: 320px;
    margin: 0 auto;
    #picture {
      flex: 0 0 340px;
      margin: 2px auto;
      text-align: center;
      #pic {
        text-align: left;
        img {
          max-width: 300px;
        }
      }
    }
  }
  #sideBar {
    display: none;
  }
  #header {
    text-align: center;
    flex: 0 0 400px;
    margin-bottom: 20px;
    h1 {
      margin-right: 40px;
      font-family: 'Work Sans';
      font-size: 50px;
    }
    p {
      display: none;
    }
    #logout {
      margin-right: 250px;
    }
    a {
      display: none;
    }

  }
  nav {
    display: none;
  }

  #featuredPicture {
    max-width: 370px;
    img {
      width: 300px;
    }
  }
  #editPhotoContainer {
    margin: 5px auto;
    #editBackground {
      margin: 3px auto;
      img {
        width: 300px;
      }
    }
  }

  #editButton {
    display: none;
  }
  #deleteButton {
    display: none;
  }
  #picturesContainer{
    ul{
      li{
        a{
          img{
            width:300px;
          }
        }
      }
    }
  }
  form{
    width:320px;
    textarea{
      font-size:20px;
      width:200px;
    }
  }
}