$brownish: #CD853F;
$opaque-brown: rgba(205, 133, 63, 0.3);

body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/72/62/5f/72625f8f0353330aaef16ebdb5b50526.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
}

#header {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
  flex: 0 0 100%;
  margin-left: 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 50px;
  h1 {
    margin-left: -200px;
    flex: 0 0 200px;
    font-family: 'Work Sans';
    font-size: 50px;
  }
  p {
    flex: 0 0 400px;
  }
}

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;

  #picture {
    padding: 20px;
    flex: 0 0 40%;
    background: $opaque-brown;
    margin-top: 23px;
    margin-right: 20px;
    max-height: 600px;
    img{
      max-width: 800px;
    }
  }
  #sideBar {
    margin-top: 25px;
    flex: 0 0 20%;
    max-height: 700px;
    overflow-y: scroll;
    background: $opaque-brown;
      ul {
      margin-left: -40px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      li {
        flex: 0 0 80%;
        list-style: none;
        margin-top: 30px;
        img {
          max-width: 100%;
        }
      }
    }
  }
}


#picturesContainer {
  text-align: center;
  ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    li{
      flex: 0 0 220px;
      img{
        max-width: 200px;
      }
    }
  }
}

#featuredPicture {
  flex: 0 0 100%;
  text-align: center;
  img{
    max-width: 800px;
  }
}


#form {
  justify-content: center;
  background-color: $opaque-brown;
  flex: 0 0 250px;
  #newPhoto {
    text-align: center;
  }
  #formSection {
    text-align: center;
  }
}

#editPhoto {
  flex: 0 0 50%;
  text-align: center;
  margin-right: 20px;
}


#editContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}