extends ../layout.pug

block title
  title Edit Page

block body
  if user == data.userId
    div#editPhotoContainer
      div#editBackground
        img(src=data.link)
    div#form
      div#editTitle
        h3 Edit Photo
      div#formSection
        form(action="#" method="post")
          p.field Title
          textarea(name="title" row='1')
          p.field Author
          textarea(name="author" row='1')
          p.field Link
          textarea(name="link" row='2')
          p.field Description
          textarea(name="description" row='10').description
          br
          br
          button#send Enter
          br
          br
  else
    h1 nope