extends ../layout.pug
include ./mixins.pug

block title
  title Homepage

block body
  +sideNav()
  #featuredPicture
    h2 Latest Post
    -const route = '/gallery/' + one.id
    a(href=route)
      img(src=one.link)
  #picturesContainer
    h2 Photo Gallery
    +photoList(data,one)