extends ../layout.pug

block title
  title Homepage

block body
  div#form
    div#newPhoto
      h3 New Photo
    div#formSection
      form(method='post' action='#')
        p.field Title
        textarea(name='title' row='1')
        p.field Author
        textarea(name ='author' row='1')
        p.field Link
        textarea(name ='link' row= '2')
        p.field Description
        textarea(name="description" row='30')
        br
        br
        button#send Enter
        br
        br