extends ../layout.pug
include ./mixins.pug

block title
  title Homepage

block body
  +sideNav(one,user)
  #picture
    #pic
      p.details #{one.title} by #{one.author}
      img(src=one.link)
      p.details#description #{one.description}
    if one.userId == user
      #editButton
        a#editLink(href='/gallery/' + one.id + '/edit') Edit
      #deleteButton
        a#editLink(href='/gallery/' + one.id + '/delete') Delete
  #sideBar
    +sideBar(all,one)




