extends ./layout.pug
include ./mixins.pug

block title
  title Homepage

block body
  div#featuredPicture
    -const route = '/gallery/' + one.id
    a(href=route)
      img(src=one.link)
  div#picturesContainer
    +photoList(data,one)