<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    link(href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet")
    block title
  body
    div#container
      div#header
        h1 _ARCHITEKT
        p#welcomeNote Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme
      nav
        div#home
          a(href='/') Home
        div#new
          a(href='gallery/new') New
      block body