<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=500, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    link(href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet")
    block title
  body
    #container
      #header
        h1
          a(href='/') _ARCHITEKT
        p#welcomeNote Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme
      nav
        #home.navButton
          a(href='/') Home
        #new.navButton
          a(href='/gallery/new') New
        #logout.navButton
          a(href="/logout") Logout
      block body