mixin photoList(data,one)
  ul
    each photo in data
      if photo.link != one.link
        li
          img(src=photo.link)

mixin sideBar(all,one)
  ul
    each photo in all
      if photo.link != one.link
        li
          img(src=photo.link)
          p #{photo.title}