body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/72/62/5f/72625f8f0353330aaef16ebdb5b50526.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 20px; }

#header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex: 0 0 100%;
  margin-left: 250px;
  justify-content: space-around;
  margin-bottom: 50px; }
  #header h1 {
    margin-left: -200px;
    flex: 0 0 200px;
    font-family: 'Work Sans';
    font-size: 50px; }
  #header p {
    padding-top: 30px;
    flex: 0 0 400px;
    font-size: 15px; }

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 960px;
  margin: 0 auto; }
  #container #picture {
    flex: 0 0 40%;
    margin-top: 23px;
    margin-right: 20px; }
    #container #picture #pic {
      border-radius: 3px;
      padding: 20px;
      background: rgba(205, 133, 63, 0.4); }
      #container #picture #pic img {
        max-width: 700px;
        border-radius: 3px; }
  #container #sideBar {
    margin-top: 25px;
    flex: 0 0 20%;
    max-height: 700px;
    overflow-y: scroll;
    background: rgba(205, 133, 63, 0.4);
    border-radius: 3px; }
    #container #sideBar ul {
      margin-left: -40px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      #container #sideBar ul li {
        flex: 0 0 80%;
        list-style: none;
        margin-top: 30px; }
        #container #sideBar ul li img {
          border-radius: 3px;
          max-width: 100%; }

#picturesContainer {
  text-align: center;
  background-color: rgba(205, 133, 63, 0.4);
  margin-top: 20px;
  width: 870px;
  padding: 10px;
  border-radius: 3px; }
  #picturesContainer ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    list-style: none; }
    #picturesContainer ul li {
      flex: 0 0 220px; }
      #picturesContainer ul li img {
        border-radius: 3px;
        max-width: 200px; }

#featuredPicture {
  flex: 0 0 850px;
  text-align: center;
  background-color: rgba(205, 133, 63, 0.4);
  padding: 20px;
  border-radius: 3px; }
  #featuredPicture img {
    border-radius: 3px;
    max-width: 800px; }

#form {
  justify-content: center;
  background-color: rgba(205, 133, 63, 0.4);
  flex: 0 0 250px; }
  #form #newPhoto {
    text-align: center; }
  #form #formSection {
    text-align: center; }

#editPhotoContainer {
  flex: 0 0 50%;
  text-align: center;
  margin-right: 20px; }
  #editPhotoContainer #editBackground {
    background-color: rgba(205, 133, 63, 0.4);
    padding: 20px; }
    #editPhotoContainer #editBackground img {
      max-width: 500px; }

#editTitle {
  text-align: center; }

a {
  text-decoration: none;
  color: white; }

nav {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 200px;
  margin-bottom: 20px; }
  nav #home {
    flex: 0 0 50px;
    background: rgba(205, 133, 63, 0.4);
    padding: 10px 20px;
    margin-right: 20px;
    text-align: center;
    border-radius: 3px; }
  nav #new {
    flex: 0 0 50px;
    background: rgba(205, 133, 63, 0.4);
    padding: 10px 20px;
    text-align: center;
    border-radius: 3px; }

.details#description {
  font-size: 16px; }

textarea {
  border-style: none;
  resize: none; }

button#send {
  border-style: none;
  background-color: white;
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: rgba(30, 144, 255, 0.5);
  color: white; }
  button#send:hover {
    box-shadow: 2px 2px 2px black; }

input {
  border-style: none; }

#editButton {
  margin-top: 20px;
  background-color: rgba(30, 144, 255, 0.5);
  width: 60px;
  padding: 5px;
  text-align: center;
  border-radius: 3px; }
  #editButton:hover {
    box-shadow: 2px 2px 2px black; }
  #editButton #editLink {
    font-size: 30px; }

#deleteButton {
  margin-top: 20px;
  background-color: rgba(30, 144, 255, 0.5);
  width: 85px;
  padding: 5px;
  text-align: center;
  border-radius: 3px; }
  #deleteButton:hover {
    box-shadow: 2px 2px 2px black; }
  #deleteButton a {
    font-size: 30px; }
