body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/72/62/5f/72625f8f0353330aaef16ebdb5b50526.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif; }

#header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex: 0 0 100%;
  margin-left: 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 50px; }
  #header h1 {
    margin-left: -200px;
    flex: 0 0 200px;
    font-family: 'Work Sans';
    font-size: 50px; }
  #header p {
    flex: 0 0 400px; }

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%; }
  #container #picture {
    padding: 20px;
    flex: 0 0 40%;
    background: rgba(205, 133, 63, 0.3);
    margin-top: 23px;
    margin-right: 20px;
    max-height: 600px; }
    #container #picture img {
      max-width: 800px; }
  #container #sideBar {
    margin-top: 25px;
    flex: 0 0 20%;
    max-height: 700px;
    overflow-y: scroll;
    background: rgba(205, 133, 63, 0.3); }
    #container #sideBar ul {
      margin-left: -40px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      #container #sideBar ul li {
        flex: 0 0 80%;
        list-style: none;
        margin-top: 30px; }
        #container #sideBar ul li img {
          max-width: 100%; }

#picturesContainer {
  text-align: center; }
  #picturesContainer ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-left: -40px; }
    #picturesContainer ul li {
      flex: 0 0 220px; }
      #picturesContainer ul li img {
        max-width: 200px; }

#featuredPicture {
  flex: 0 0 100%;
  text-align: center; }
  #featuredPicture img {
    max-width: 800px; }

#form {
  justify-content: center;
  background-color: rgba(205, 133, 63, 0.3);
  flex: 0 0 250px; }
  #form #newPhoto {
    text-align: center; }
  #form #formSection {
    text-align: center; }

#editPhoto {
  flex: 0 0 50%;
  text-align: center;
  margin-right: 20px; }

#editContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

a {
  text-decoration: none;
  color: white; }
