body {
  background: url("../photos/sandybeach.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 20px; }

#header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex: 0 0 100%;
  margin-left: 250px;
  justify-content: space-around;
  margin-bottom: 50px; }
  #header h1 {
    margin-left: -200px;
    flex: 0 0 200px;
    font-family: 'Work Sans';
    font-size: 50px; }
  #header p {
    padding-top: 30px;
    flex: 0 0 400px;
    font-size: 15px; }

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 960px;
  margin: 0 auto; }
  #container #picture {
    flex: 0 0 40%;
    margin-top: 23px;
    margin-right: 20px; }
    #container #picture #pic {
      border-radius: 3px;
      padding: 20px;
      background: rgba(205, 133, 63, 0.4); }
      #container #picture #pic img {
        max-width: 700px;
        border-radius: 3px; }
  #container #sideBar {
    margin-top: 25px;
    flex: 0 0 20%;
    max-height: 600px;
    background: rgba(205, 133, 63, 0.4);
    border-radius: 3px; }
    #container #sideBar ul {
      margin-left: -40px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      #container #sideBar ul li {
        flex: 0 0 80%;
        list-style: none;
        margin-top: 30px; }
        #container #sideBar ul li img {
          border-radius: 3px;
          max-width: 100%; }

#picturesContainer {
  text-align: center;
  background-color: rgba(205, 133, 63, 0.4);
  margin-top: 20px;
  width: 870px;
  padding: 10px;
  border-radius: 3px; }
  #picturesContainer ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    list-style: none; }
    #picturesContainer ul li {
      flex: 0 0 220px; }
      #picturesContainer ul li img {
        border-radius: 3px;
        max-width: 200px; }

#featuredPicture {
  flex: 0 0 850px;
  text-align: center;
  background-color: rgba(205, 133, 63, 0.4);
  padding: 20px;
  border-radius: 3px; }
  #featuredPicture img {
    border-radius: 3px;
    max-width: 800px; }

#form {
  justify-content: center;
  background-color: rgba(205, 133, 63, 0.4);
  flex: 0 0 250px; }
  #form #newPhoto {
    text-align: center; }
  #form #formSection {
    text-align: center; }

#editPhotoContainer {
  flex: 0 0 50%;
  text-align: center;
  margin-right: 20px; }
  #editPhotoContainer #editBackground {
    background-color: rgba(205, 133, 63, 0.4);
    padding: 20px; }
    #editPhotoContainer #editBackground img {
      max-width: 500px; }

#editTitle {
  text-align: center; }

a {
  text-decoration: none;
  color: white; }

nav {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 200px;
  margin-bottom: 20px; }
  nav #home {
    flex: 0 0 50px;
    background: rgba(205, 133, 63, 0.4);
    padding: 10px 20px;
    margin-right: 20px;
    text-align: center;
    border-radius: 3px; }
  nav #new {
    flex: 0 0 50px;
    background: rgba(205, 133, 63, 0.4);
    padding: 10px 20px;
    text-align: center;
    border-radius: 3px; }

.details#description {
  font-size: 16px; }

textarea {
  border-style: none;
  resize: none; }

button#send {
  display: block;
  margin: 10px auto;
  border-style: none;
  background-color: white;
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: rgba(30, 144, 255, 0.5);
  color: white; }
  button#send:hover {
    box-shadow: 2px 2px 2px black;
    transition: 0.3s; }

input {
  border-style: none; }

#editButton {
  margin-top: 20px;
  margin-right: 20px;
  background-color: rgba(30, 144, 255, 0.5);
  width: 60px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 3px; }
  #editButton:hover {
    box-shadow: 2px 2px 2px black; }
  #editButton #editLink {
    font-size: 30px; }

#deleteButton {
  margin-top: 20px;
  background-color: rgba(30, 144, 255, 0.5);
  width: 85px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 3px; }
  #deleteButton:hover {
    box-shadow: 2px 2px 2px black; }
  #deleteButton a {
    font-size: 30px; }

#logout {
  border-style: none;
  background-color: white;
  font-size: 25px;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: rgba(205, 133, 63, 0.4);
  color: white; }
  #logout:hover {
    box-shadow: 2px 2px 2px black; }

.sidenav a {
  display: none; }

#menu {
  display: none; }

.error {
  color: red; }

@media screen and (max-width: 480px) {
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
  #menu {
    flex: 0 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-right: 60px;
    margin-top: -10px;
    margin-bottom: 20px; }
    #menu #menuBox {
      flex: 0 0 50px;
      height: 45px;
      display: flex;
      flex-flow: row wrap;
      margin: 0;
      border-radius: 5px;
      border: solid 2px white;
      text-align: center; }
      #menu #menuBox:hover {
        background-color: rgba(30, 144, 255, 0.5);
        transition: 0.3s; }
      #menu #menuBox span {
        flex: 0 0 40px;
        margin: auto;
        height: 6px;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0; }
        #menu #menuBox span:nth-child(2) {
          top: 14px; }
        #menu #menuBox span:nth-child(3) {
          top: 28px; }
  .sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  #container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 400px;
    margin: 0 auto; }
    #container #picture {
      max-width: 340px;
      margin: 2px auto;
      text-align: center; }
      #container #picture #pic {
        text-align: left; }
        #container #picture #pic img {
          max-width: 300px; }
    #container #sideBar {
      display: none; }
  #header {
    text-align: center;
    flex: 0 0 400px;
    margin-bottom: 0; }
    #header h1 {
      margin-right: 40px;
      font-family: 'Work Sans';
      font-size: 50px; }
    #header p {
      display: none; }
    #header #logout {
      margin-right: 250px; }
    #header a {
      display: none; }
  nav {
    display: none; }
  #featuredPicture {
    max-width: 340px; }
    #featuredPicture img {
      max-width: 300px; }
  #editPhotoContainer {
    margin: 5px auto; }
    #editPhotoContainer #editBackground {
      margin: 3px auto; }
      #editPhotoContainer #editBackground img {
        max-width: 200px; }
  #editButton {
    display: none; }
  #deleteButton {
    display: none; } }
