extends ../layout.pug

block title
  title Sign In

block body
  #form
    #newPhoto
      h3 Log In
      p.error #{msg}
    #formSection
      form(method='post' action='login')
        p.field Username
        input(type='text' name='username')
        p.field Password
        input(type='password' name='password')
        button#send(type="submit") Log In
      a(href='/register')
        button#send Create New User