extends ../layout.pug

block title
  title Sign In

block body
  div#form
    div#newPhoto
      h3 Sign In
    div#formSection
      form(method='post' action='login')
        p.field Username
        input(type='text' name='username')
        p.field Password
        input(type='password' name='password')
        br
        br
        button(type="submit") Sign In
        br
        br