extends ../layout.pug

block title
  title Create New User

block body
  #form
    #newPhoto
      h3 Create New User
      for each in error
        p.error #{each}
    #formSection
      form(method='post' action='register')
        p.field Username
        input(type='text' name='username')
        p.field Password
        input(type='password' name='password')
        p.field Confirm Password
        input(type='password' name='confirmPassword')
        button(type="submit")#send Enter
      a(href='/login')
        button#send Return to login
